.groceries-input input,
.groceries-input button {
  color: black;
  padding: 14px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.groceries-input button {
  margin-left: 10px;
  background-color: lightgray;
}
.groceries-input input {
  border: 1px solid lightgray;
}

.groceries-list {
  width: 50%;
}
